.hide-post-button {
  background-color: darkred;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
  width: 130px;
}

.hide-post-button:hover {
  background-color: red;
}

.options-dropdown{
    background-color: #FFF;
    box-shadow: 2px 2px 5px #000;
}

.block-toast {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(29, 29, 29, 0.5);
	color: white;
	opacity: 0.95;
	padding: 10px 20px;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 300px;
	max-width: 80%;
	box-sizing: border-box;
	visibility: hidden;
	font-size: 16px;
	animation: slideIn 0.5s, fadeOut 0.5s 2.5s;
}  

.block-toast-visible {
	visibility: visible;
}